nav(role="navigation").navbar.navbar-default
	.row
		.col-xs-11.col-sm-6.col-md-6.col-lg-6
			a(href="#" ).navbar-brand 
				h3= title
		.col-xs-1.col-sm-6.col-md-6.col-lg-6
			.navbar-header
				button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle.collapsed
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
			.collapse.navbar-collapse.navbar-ex1-collapse
				ul.nav.navbar-nav.navbar-right
					li: a(href="/") Home
					li: a(href="/orders") Orders
					li: a(href="/about") About

