extends layout

block content
	.main
		#about.container
			legend About
			h3 Author: 
				h5 Chris Bautista <"christopher.bautista at gmail dot com">
			h3 Description: 
				h5 Pizza Shop ordering page powered by NodeJS 
			h3 Submitted for 
				h5 Assignment # 2: NodeJS Fundamentals
			h3 Instructor: 
				h5 Krishna Kothumbaka @ BCIT


			
      
      
